aws_region   = "us-east-1"
project_name = "stock-forecast-api"
environment  = "prod"

github_owner = "CHANGE_ME_GITHUB_OWNER"
github_repo  = "CHANGE_ME_GITHUB_REPO"

artifact_bucket_name = "CHANGE_ME_UNIQUE_ARTIFACT_BUCKET"

data_s3_prefix   = "data"
models_s3_prefix = "ml-data"

ecr_repository_name = "techchallenge/stock-forecast-api"
image_tag           = "latest"

desired_count = 1

allowed_http_cidr_blocks = ["0.0.0.0/0"]

# Set to false if your AWS account already has this OIDC provider.
create_github_oidc_provider = true
